<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/mainapp/vue/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAMS Auction App</title>
    <script type="module" crossorigin src="/static/mainapp/vue/assets/index.18052401.js"></script>
    <link rel="stylesheet" href="/static/mainapp/vue/assets/index.a7e5256b.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
