<!DOCTYPE html>
<html>
<body>

<h2>Sign up to TAMS below!</h2>

<form>
  <label for="fullname">Name:</label><br>
  <input type="text" id="fullname" name="fullname" placeholder="Enter name here..."><br>
  <label for="dob">Date of birth:</label><br>
  <input type="date" id="dob" name="dob"><br>
  <label for="email">Email address:</label><br>
  <input type="email" id="email" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="confirmpass">Confirm password:</label><br>
  <input type="password" id="confirmpass" name="confirmpass"><br> 
  <input type="submit" value="Submit">
</form> 

</body>
</html>

<script type="text/javascript">
    if(document.getElementById("fullname").value=="")
  {
      e.preventDefault();
      alert("Some fields have not been filled. All fields are required to continue. Please fill in all fields.")
      document.getElementById("fullname").style.backgroundColor = '#1C2340';
  }

  if(document.getElementById("dob").value=="")
  {
      e.preventDefault();
      alert("Some fields have not been filled. All fields are required to continue. Please fill in all fields.")
      document.getElementById("dob").style.backgroundColor = "#1C2340";
  }

  if(document.getElementById("email").value=="")
  {
      e.preventDefault();
      alert("Some fields have not been filled. All fields are required to continue. Please fill in all fields.")
      document.getElementById("email").style.backgroundColor = "#1C2340";
  }

  if(document.getElementById("password").value=="")
  {
      e.preventDefault();
      alert("Some fields have not been filled. All fields are required to continue. Please fill in all fields.")
      document.getElementById("password").style.backgroundColor = "#1C2340";
  }

  if(document.getElementById("confirmpass").value=="")
  {
      e.preventDefault();
      alert("Some fields have not been filled. All fields are required to continue. Please fill in all fields.")
      document.getElementById("confirmpass").style.backgroundColor = "#1C2340";
  }

  if(document.getElementById("password").value != document.getElementById("confirmpass").value)
  {
      e.preventDefault();
      alert("Passwords must be the same, please enter again.")
      document.getElementById("password").style.backgroundColor = "#1C2340";
      document.getElementById("confirmpassword").style.backgroundColor = "#1C2340";
  }
</script>
